<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cookiteer - Food Blog HTML Template</title>

      <!-- Vendor Stylesheets -->
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/animate.min.css">
      <link rel="stylesheet" href="static/css/magnific-popup.css">
      <link rel="stylesheet" href="static/css/slick.css">
      <link rel="stylesheet" href="static/css/slick-theme.css">
      <!-- Icon Fonts -->
      <link rel="stylesheet" href="static/css/flaticon.css">
      <link rel="stylesheet" href="static/css/all.min.css">
      <!-- Cookiteer Style sheet -->
      <link rel="stylesheet" href="static/css/style.css">
      <!-- Favicon -->
   </head>
   <body>
      <!-- Preloader start -->
      <div class="ct-preloader">
         <div class="ct-preloader-inner">
            <div class="ct-preloader-pan">
               <div class="ct-preloader-pan-inner">
                  <div class="ct-preloader-pan-circle"></div>
                  <div class="ct-preloader-pan-handle"></div>
               </div>
               <div class="ct-preloader-pancake">
                  <div class="ct-preloader-pancake-inner"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- Preloader End --><!-- Aside (Mobile Navigation) -->
      <aside class="main-aside">
         <a class="navbar-brand" href="/"><img src="static/picture/food_guards_logo.png" alt="logo"></a>
      </aside>
      <div class="aside-overlay aside-trigger"></div>
      <!-- Header Start -->
      <div>
      <header class="main-header header-2 header-absolute">
         <nav class="navbar">
            <div class="container">
               <a class="navbar-brand" href="/"><img src="static/picture/food_guards_logo.png" alt="logo"></a><!-- Menu -->
            </div>
         </nav>
      </header>
      </div>
      <!-- Header End --><!-- Banner Start -->
      <div class="banner dark-overlay" style="background-image: url('static/picture/wheat_2.jpeg')">
         <!-- Prev Arrow -->
         <div class="container">
            <div class="section section-padding ct-categories ct-categories-2">
               <div class="container" style="padding-top: 20px">
                  <div class="row">
                     <h1 class="title text-white"> Allergen Substitutions </h1>
                     <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="/wheat" class="ct-category">
                           <div class="ct-category-img"><img src="static/picture/sub_wheat.png" alt="category"></div>
                           <div class="ct-category-info">
                              <h5>Wheat</h5>
                           </div>
                        </a>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="/dairy" class="ct-category">
                           <div class="ct-category-img"><img src="static/picture/sub_dairy.png" alt="category"></div>
                           <div class="ct-category-info">
                              <h5>Dairy</h5>
                           </div>
                        </a>
                     </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="/peanut" class="ct-category">
                           <div class="ct-category-img"><img src="static/picture/sub_pean.png" alt="category"></div>
                           <div class="ct-category-info">
                              <h5>Peanut</h5>
                           </div>
                        </a>
                     </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="/sesame" class="ct-category">
                           <div class="ct-category-img"><img src="static/picture/sub_ses.png" alt="category"></div>
                           <div class="ct-category-info">
                              <h5>Sesame</h5>
                           </div>
                        </a>
                     </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="/shellfish" class="ct-category">
                           <div class="ct-category-img"><img src="static/picture/sub_shell.png" alt="category"></div>
                           <div class="ct-category-info">
                              <h5>Shellfish</h5>
                           </div>
                        </a>
                     </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="/soy" class="ct-category">
                           <div class="ct-category-img"><img src="static/picture/soyss.png" alt="category"></div>
                           <div class="ct-category-info">
                              <h5>Soy</h5>
                           </div>
                        </a>
                     </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="/treenut" class="ct-category">
                           <div class="ct-category-img"><img src="static/picture/sub_tnut.png" alt="category"></div>
                           <div class="ct-category-info">
                              <h5>Tree Nut</h5>
                           </div>
                        </a>
                     </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a href="/egg" class="ct-category">
                           <div class="ct-category-img"><img src="static/picture/Egg_plswork.png" alt="category"></div>
                           <div class="ct-category-info">
                              <h5>Egg</h5>
                           </div>
                        </a>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Instagram End --><!-- Footer Start -->
      <footer>
         <div class="footer-bottom">
            <div class="container">
               <p class="m-0">&copy; Copyright 2020 - <a href="/">AndroThemes</a>All Rights Reserved.</p>
            </div>
         </div>
      </footer>
      <!-- Footer End --><!-- Vendor Scripts --><script src="static/js/jquery-3.4.1.min.js"></script><script src="static/js/popper.min.js"></script><script src="static/js/waypoint.js"></script><script src="static/js/bootstrap.min.js"></script><script src="static/js/jquery.magnific-popup.min.js"></script><script src="static/js/jquery.slimScroll.min.js"></script><script src="static/js/imagesloaded.min.js"></script><script src="static/js/jquery.steps.min.js"></script><script src="static/js/jquery.countdown.min.js"></script><script src="static/js/isotope.pkgd.min.js"></script><script src="static/js/slick.min.js"></script><!-- Cookiteer Scripts --><script src="static/js/main.js"></script>
   </body>
</html>