<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookiteer - Food Blog HTML Template</title>
    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/slick-theme.css">
    <!-- Icon Fonts -->
    <link rel="stylesheet" href="static/css/flaticon.css">
    <link rel="stylesheet" href="static/css/all.min.css">
    <!-- Cookiteer Style sheet -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Favicon -->
</head>
<body>
    <!-- Preloader start -->
    <div class="ct-preloader">
        <div class="ct-preloader-inner">
            <div class="ct-preloader-pan">
                <div class="ct-preloader-pan-inner">
                    <div class="ct-preloader-pan-circle"></div>
                    <div class="ct-preloader-pan-handle"></div>
                </div>
                <div class="ct-preloader-pancake">
                    <div class="ct-preloader-pancake-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->
    <!-- Aside (Mobile Navigation) -->
    <aside class="main-aside">
        <a class="navbar-brand" href="">
            <img src="static/picture/food_guards_logo.png" alt="logo">
        </a>
        <div class="aside-scroll">
            <ul>
                <li class="menu-item">
                    <a href="#">Home Page</a>
                <li class="menu-item">
                    <a href="#">Barcode Scanner</a>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="#">Allergen Substitutes</a>
                    <ul class="submenu">
                        <li class="menu-item">
                            <a href="/wheat">Wheat</a>
                        </li>
                        <li class="menu-item">
                            <a href="/dairy">Dairy</a>
                        </li>
                        <li class="menu-item">
                            <a href="/peanut">Peanut</a>
                        </li>
                        <li class="menu-item">
                            <a href="/sesame">Sesame</a>
                        </li>
                        <li class="menu-item">
                            <a href="/egg">Egg</a>
                        </li>
                        <li class="menu-item">
                            <a href="/soy">Soy</a>
                        </li>
                        <li class="menu-item">
                            <a href="/shellfish">Shellfish</a>
                        </li>
                        <li class="menu-item">
                            <a href="/treenut">Treenut</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="#">About us</a>
                </li>

            </ul>
        </div>
    </aside>
    <div class="aside-overlay aside-trigger"></div>
    <!-- Header Start -->
    <header class="main-header header-1 can-sticky">
        <nav class="navbar">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" href="">
                    <img src="static/picture/food_guards_logo.png" alt="logo">
                </a>
                <!-- Menu -->
                 <li class="menu-item">
                    <a href="#">Home Page</a>
                <li class="menu-item">
                    <a href="#">Barcode Scanner</a>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="#">Allergen Substitutes</a>
                    <ul class="submenu">
                        <li class="menu-item">
                            <a href="/wheat">Wheat</a>
                        </li>
                        <li class="menu-item">
                            <a href="/dairy">Dairy</a>
                        </li>
                        <li class="menu-item">
                            <a href="/peanut">Peanut</a>
                        </li>
                        <li class="menu-item">
                            <a href="/sesame">Sesame</a>
                        </li>
                        <li class="menu-item">
                            <a href="/egg">Egg</a>
                        </li>
                        <li class="menu-item">
                            <a href="/soy">Soy</a>
                        </li>
                        <li class="menu-item">
                            <a href="/shellfish">Shellfish</a>
                        </li>
                        <li class="menu-item">
                            <a href="/treenut">Treenut</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="#">About us</a>
                </li>
                </ul>

            </div>
        </nav>

    </header>
    <!-- Header End -->
    <!-- Header Start -->
      <header class="main-header header-2 header-absolute">
         <nav class="navbar">
            <div class="container">
               <a class="navbar-brand" href="#"><img src="static/picture/food_guards_logo.png" alt="logo"></a><!-- Menu -->
            </div>
         </nav>
      </header>
      <!-- Header End -->
    <!-- Banner Start -->
    <div class="banner banner-video dark-overlay">
        <video autoplay="" muted="" loop="" id="myVideo">
            <source src="files/video-banner.mp4" type="video/mp4">
        </video>
        <!-- Prev Arrow -->
        <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
        <div class="container">
            <div class="banner-slider">
                <div class="banner-item text-center">
                    <div class="banner-inner">
                        <h1 class="title text-white">
                            Cooking Never Got Any
                            <span class="custom-primary">Easier</span>
                        </h1>
                        <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
                        <a href="#" class="btn-custom primary shadow-none">
                            Get my Cook Book
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="banner-item text-center">
                    <div class="banner-inner">
                        <h1 class="title text-white">
                            Learn The
                            <span class="custom-primary">Art</span>
                            Of Cooking Here
                        </h1>
                        <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
                        <a href="#" class="btn-custom primary shadow-none">
                            Contact Me
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="banner-item text-center">
                    <div class="banner-inner">
                        <h1 class="title text-white">
                            <span class="custom-primary">Elevate</span>
                            Your Cooking Skills
                        </h1>
                        <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
                        <a href="#" class="btn-custom primary shadow-none">
                            Visit My Blog
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Next Arrow -->
        <i class="slider-next fas fa-arrow-right slick-arrow"></i>
    </div>
    <!-- Banner End -->
    <!-- Categories Section Start -->
    <div class="section section-padding ct-categories ct-categories-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="ct-category">
                        <div class="ct-category-icon">
                            <i class="flaticon-croissant"></i>
                            <h5>Breakfast</h5>
                            <span>17 Recipes</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="ct-category">
                        <div class="ct-category-icon">
                            <i class="flaticon-taco"></i>
                            <h5>Quick Food</h5>
                            <span>87 Recipes</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="ct-category">
                        <div class="ct-category-icon">
                            <i class="flaticon-pot"></i>
                            <h5>Cuisine</h5>
                            <span>36 Recipes</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="ct-category">
                        <div class="ct-category-icon">
                            <i class="flaticon-diet"></i>
                            <h5>Vegan</h5>
                            <span>42 Recipes</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="ct-category">
                        <div class="ct-category-icon">
                            <i class="flaticon-dairy-products"></i>
                            <h5>Dairy</h5>
                            <span>55 Recipes</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="ct-category">
                        <div class="ct-category-icon">
                            <i class="flaticon-pudding"></i>
                            <h5>Desserts</h5>
                            <span>45 Recipes</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="ct-category">
                        <div class="ct-category-icon">
                            <i class="flaticon-pizza"></i>
                            <h5>Pizzas</h5>
                            <span>13 Recipes</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="#" class="ct-category">
                        <div class="ct-category-icon">
                            <i class="flaticon-pancakes"></i>
                            <h5>Pancakes</h5>
                            <span>21 Recipes</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories Section End -->
    <!-- Blog Posts Start -->
    <section class="section pt-0 section-padding posts">
        <div class="container">
            <div class="section-title-wrap section-header">
                <h2 class="title">From My Blog</h2>
                <p class="subtitle">Want to see the what new recipes we are working on? Read our daily blog posts and stay up to date</p>
            </div>
            <div class="row masonry">
                <!-- Post Start -->
                <div class="col-lg-6 col-md-6 masonry-item">
                    <article class="post">
                        <div class="post-thumbnail">
                            <a href="blog-single-v1.html">
                                <img src="static/picture/1.jpg" alt="blog post">
                            </a>
                            <div class="post-meta">
                                <span>January 22, 2020</span>
                                <span>Posted by Jonathan Pick</span>
                            </div>
                        </div>
                        <div class="post-categories">
                            <a href="#">Breakfast</a>
                        </div>
                        <div class="post-body">
                            <h5 class="post-title">
                                <a href="blog-single-v1.html">Puffy Pancakes Glazed With Caramel Topped With Fruits</a>
                            </h5>
                            <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
                        </div>
                    </article>
                </div>
                <!-- Post End -->
                <!-- Post Start -->
                <div class="col-lg-6 col-md-6 masonry-item">
                    <article class="post">
                        <div class="post-thumbnail">
                            <a href="blog-single-v1.html">
                                <img src="static/picture/23.jpg" alt="blog post">
                            </a>
                            <div class="post-meta">
                                <span>January 24, 2020</span>
                                <span>Posted by Jonathan Pick</span>
                            </div>
                        </div>
                        <div class="post-categories">
                            <a href="#">Breakfast</a>
                        </div>
                        <div class="post-body">
                            <h5 class="post-title">
                                <a href="blog-single-v1.html">Mini Pancakes Topped With Butter, Honey and Blueberry Sides</a>
                            </h5>
                            <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
                        </div>
                    </article>
                </div>
                <!-- Post End -->
                <!-- Post Start -->
                <div class="col-lg-6 col-md-6 masonry-item">
                    <article class="post post-format-video">
                        <div class="post-thumbnail">
                            <a href="blog-single-v1.html">
                                <img src="static/picture/3.jpg" alt="blog post">
                            </a>
                            <div class="post-meta">
                                <span>January 22, 2020</span>
                                <span>Posted by Jonathan Pick</span>
                            </div>
                            <div class="video-player-trigger">
                                <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="popup-youtube">
                                    <i class="fas fa-play"></i>
                                    <div class="video-player-icons">
                                        <i class="flaticon-pot"></i>
                                        <i class="flaticon-taco"></i>
                                        <i class="flaticon-bread"></i>
                                        <i class="flaticon-chef"></i>
                                        <i class="flaticon-diet"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="post-categories">
                            <a href="#">How-To</a>
                            <a href="#">Breakfast</a>
                        </div>
                        <div class="post-body">
                            <h5 class="post-title">
                                <a href="blog-single-v1.html">Chocolate Coated Browny</a>
                            </h5>
                            <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
                        </div>
                    </article>
                </div>
                <!-- Post End -->
                <!-- Post Start -->
                <div class="col-lg-6 col-md-6 masonry-item">
                    <article class="post">
                        <div class="post-thumbnail">
                            <a href="blog-single-v1.html">
                                <img src="static/picture/4.jpg" alt="blog post">
                            </a>
                            <div class="post-meta">
                                <span>April 26, 2020</span>
                                <span>Posted by Jonathan Pick</span>
                            </div>
                        </div>
                        <div class="post-categories">
                            <a href="#">Lunch</a>
                        </div>
                        <div class="post-body">
                            <h5 class="post-title">
                                <a href="blog-single-v1.html">Pasta With Pesto Sauce, Topped With Grated Cheese</a>
                            </h5>
                            <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
                        </div>
                    </article>
                </div>
                <!-- Post End -->
                <!-- Post Start -->
                <div class="col-lg-6 col-md-6 masonry-item">
                    <article class="post">
                        <div class="post-thumbnail">
                            <a href="blog-single-v1.html">
                                <img src="static/picture/5.jpg" alt="blog post">
                            </a>
                            <div class="post-meta">
                                <span>April 26, 2020</span>
                                <span>Posted by Jonathan Pick</span>
                            </div>
                        </div>
                        <div class="post-categories">
                            <a href="#">Cuisine</a>
                        </div>
                        <div class="post-body">
                            <h5 class="post-title">
                                <a href="blog-single-v1.html">Rare Tenderloine With Gravy and Veggies</a>
                            </h5>
                            <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
                        </div>
                    </article>
                </div>
                <!-- Post End -->
            </div>
        </div>
    </section>
    <!-- Blog Posts End -->
    <!-- Testimonials Start -->
    <section class="section light-bg bg-cover" style="background-image:url('static/picture/22.jpg')">
        <div class="container">
            <div class="section-title-wrap section-header text-center">
                <h2 class="title">Testimonials</h2>
            </div>
            <div class="ct-testimonials">
                <div class="ct-testimonials-slider">
                    <div class="ct-testimonial-item">
                        <div class="ct-testimonial-item-inner">
                            <i class="flaticon-left-quote"></i>
                            <span>Johny White</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                    <div class="ct-testimonial-item">
                        <div class="ct-testimonial-item-inner">
                            <i class="flaticon-left-quote"></i>
                            <span>Brian Fitz</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
                <div class="ct-arrows">
                    <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
                    <i class="slider-next fas fa-arrow-right slick-arrow"></i>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials End -->
    <!-- CTA Start -->
    <section class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cta-item item-1">
                        <div class="cta-item-inner">
                            <span class="custom-secondary">Desserts</span>
                            <h3>Fruity World</h3>
                            <p>Entice yourself with delicious fruity meals!</p>
                            <a href="recipe-archive.html" class="btn-custom secondary">
                                View Recipes
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                        <img src="static/picture/png-1.png" alt="cta">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cta-item item-2">
                        <div class="cta-item-inner">
                            <span class="custom-primary">Vegan</span>
                            <h3>Green World</h3>
                            <p>Who said vegain food isn't tasty? Check out our vegan recipes!</p>
                            <a href="recipe-archive.html" class="btn-custom primary">
                                View Recipes
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                        <img src="static/picture/png-2.png" alt="cta">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CTA End -->
    <!-- Products Start -->
    <section class="section section-padding pt-0">
        <div class="container">
            <div class="section-title-wrap section-header">
                <h2 class="title">Newly Released Products</h2>
                <p class="subtitle">As requested, the new products are here. Get your cookery swag on with my latest collection and most trending items</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="ct-product">
                        <div class="ct-product-thumbnail">
                            <a href="product-details.html">
                                <img src="static/picture/2.png" alt="product">
                            </a>
                            <div class="ct-product-controls">
                                <a href="product-details.html" class="btn-custom secondary">
                                    Buy Now
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ct-product-body">
                            <h5 class="product-title">
                                <a href="product-details.html">Oak Wood Cutting Board</a>
                            </h5>
                            <p class="product-price custom-secondary">20.00$</p>
                            <p class="product-text">Finely crafted wood board for all kinds of ingredients. Board does meat, vegetables...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="ct-product">
                        <div class="ct-product-thumbnail">
                            <a href="product-details.html">
                                <img src="static/picture/3.png" alt="product">
                            </a>
                            <div class="ct-product-controls">
                                <a href="product-details.html" class="btn-custom secondary">
                                    Buy Now
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ct-product-body">
                            <h5 class="product-title">
                                <a href="product-details.html">State of The Art Spoon</a>
                            </h5>
                            <p class="product-price custom-secondary">8.00$</p>
                            <p class="product-text">Finely crafted wood spoon that can stir anything, from soup to vegemite...</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="ct-product">
                        <div class="ct-product-thumbnail">
                            <a href="product-details.html">
                                <img src="static/picture/1.png" alt="product">
                            </a>
                            <div class="ct-product-controls">
                                <a href="product-details.html" class="btn-custom secondary">
                                    Select Options
                                    <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ct-product-body">
                            <h5 class="product-title">
                                <a href="product-details.html">Custom Branded Kettle</a>
                            </h5>
                            <p class="product-price custom-secondary">32.00$ - 48.00$</p>
                            <p class="product-text">This kettle boils water faster than you can count to ten, enjoy coffee...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Products End -->
    <!-- Newsletter start -->
    <section class="section light-bg bg-cover" style="background-image:url('static/picture/13.jpg')">
        <div class="container">
            <div class="section-title-wrap section-header text-center">
                <h2 class="title">Subscribe to My Newsletter</h2>
                <p class="subtitle">Get access to my latest recipes by joining the weekly newsletter</p>
            </div>
            <form class="ct-newsletter" method="post">
                <input type="email" class="form-control" placeholder="Enter your email address" value="">
                <button type="submit" class="btn-custom primary" name="button">
                    Submit
                    <i class="far fa-paper-plane"></i>
                </button>
            </form>
        </div>
    </section>
    <!-- Newsletter End -->
    <!-- Instagram Start -->
    <div class="row no-gutters">
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <a href="#" class="ct-ig-item">
                <img src="static/picture/12.jpg" alt="ig">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <a href="#" class="ct-ig-item">
                <img src="static/picture/2.jpg" alt="ig">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <a href="#" class="ct-ig-item">
                <img src="static/picture/31.jpg" alt="ig">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <a href="#" class="ct-ig-item">
                <img src="static/picture/41.jpg" alt="ig">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <a href="#" class="ct-ig-item">
                <img src="static/picture/51.jpg" alt="ig">
            </a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
            <a href="#" class="ct-ig-item">
                <img src="static/picture/6.jpg" alt="ig">
            </a>
        </div>
    </div>
    <!-- Instagram End -->
    <!-- Footer Start -->
    <footer class="ct-footer footer-2">
        <div class="container">
            <div class="footer-widget">
                <ul class="social-media">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-widget">
                <ul>
                    <li>
                        <a href="#">Breakfast</a>
                    </li>
                    <li>
                        <a href="#">Desserts</a>
                    </li>
                    <li>
                        <a href="#">Dinner</a>
                    </li>
                    <li>
                        <a href="#">Dairy</a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <p class="m-0">
                        &copy; Copyright 2020 -
                        <a href="/">AndroThemes</a>
                        All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- Vendor Scripts -->
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/waypoint.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/jquery.slimScroll.min.js"></script>
    <script src="static/js/imagesloaded.min.js"></script>
    <script src="static/js/jquery.steps.min.js"></script>
    <script src="static/js/jquery.countdown.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <script src="static/js/slick.min.js"></script>
    <!-- Cookiteer Scripts -->
    <script src="static/js/main.js"></script>
</body>
</html>