<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home Page - Food Guards</title>
      <!-- Vendor Stylesheets -->
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/animate.min.css">
      <link rel="stylesheet" href="static/css/magnific-popup.css">
      <link rel="stylesheet" href="static/css/slick.css">
      <link rel="stylesheet" href="static/css/slick-theme.css">
      <!-- Icon Fonts -->
      <link rel="stylesheet" href="static/css/flaticon.css">
      <link rel="stylesheet" href="static/css/all.min.css">
      <!-- Cookiteer Style sheet -->
      <link rel="stylesheet" href="static/css/style.css">
      <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="76x76" href="static/favicon_package/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="static/favicon_package/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="static/favicon_package/favicon-16x16.png">
      <link rel="manifest" href="static/favicon_package/site.webmanifest">
      <link rel="mask-icon" href="static/favicon_package/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#00aba9">
      <meta name="theme-color" content="#ffffff">


   </head>
   <body>
      <!-- Preloader start -->
      <div class="ct-preloader">
         <div class="ct-preloader-inner">
            <div class="ct-preloader-pan">
               <div class="ct-preloader-pan-inner">
                  <div class="ct-preloader-pan-circle"></div>
                  <div class="ct-preloader-pan-handle"></div>
               </div>
               <div class="ct-preloader-pancake">
                  <div class="ct-preloader-pancake-inner"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- Preloader End --><!-- Aside (Mobile Navigation) -->
      <!-- Preloader End --><!-- Aside (Mobile Navigation) -->
      <aside class="main-aside open">
           <a class="navbar-brand" href="/"><img src="static/picture/food_guards_logo.png" alt="logo"></a>
           <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 681.475px;">
              <div class="aside-scroll" style="overflow: hidden; width: auto; height: 681.475px;">
                 <ul>
                    <li class="menu-item">
                        <a href="/">Home Page</a>
                    <li class="menu-item">
                        <a href="https://foodallergynew.azurewebsites.net">Barcode Scanner</a>
                    </li>
                     <li class="menu-item">
                        <a href="/childeducation">Child Education</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a>Allergen Substitutes</a>
                        <ul class="submenu">
                            <li class="menu-item">
                                <a href="/wheat">Wheat</a>
                            </li>
                            <li class="menu-item">
                                <a href="/dairy">Dairy</a>
                            </li>
                            <li class="menu-item">
                                <a href="/peanut">Peanut</a>
                            </li>
                            <li class="menu-item">
                                <a href="/sesame">Sesame</a>
                            </li>
                            <li class="menu-item">
                                <a href="/egg">Egg</a>
                            </li>
                            <li class="menu-item">
                                <a href="/soy">Soy</a>
                            </li>
                            <li class="menu-item">
                                <a href="/shellfish">Shellfish</a>
                            </li>
                            <li class="menu-item">
                                <a href="/treenut">Treenut</a>
                            </li>

                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/static_information">More Information</a>
                    </li>
                </ul>
              </div>
              <div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: -0.475px; opacity: 1; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 681.95px;"></div>
              <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
           </div>
        </aside>


    <div class="aside-overlay aside-trigger"></div>
       <!-- Header Start -->
    <header class="main-header header-1 can-sticky">
       <nav class="navbar">
          <div class="container">
             <!-- Logo --><a class="navbar-brand" href="/"><img src="static/picture/food_guards_logo.png" alt="logo"></a><!-- Menu -->
             <ul class="navbar-nav">
                <li class="menu-item">
                    <a href="/">Home Page</a>
                <li class="menu-item">
                    <a href="https://foodallergynew.azurewebsites.net">Barcode Scanner</a>
                </li>
                 <li class="menu-item">
                        <a href="/childeducation">Child Education</a>
                    </li>
                <li class="menu-item menu-item-has-children">
                    <a href="/Food_sub">Allergen Substitutes</a>
                    <ul class="submenu">
                        <li class="menu-item">
                            <a href="/wheat">Wheat</a>
                        </li>
                        <li class="menu-item">
                            <a href="/dairy">Dairy</a>
                        </li>
                        <li class="menu-item">
                            <a href="/peanut">Peanut</a>
                        </li>
                        <li class="menu-item">
                            <a href="/sesame">Sesame</a>
                        </li>
                        <li class="menu-item">
                            <a href="/egg">Egg</a>
                        </li>
                        <li class="menu-item">
                            <a href="/soy">Soy</a>
                        </li>
                        <li class="menu-item">
                            <a href="/shellfish">Shellfish</a>
                        </li>
                        <li class="menu-item">
                            <a href="/treenut">Treenut</a>
                        </li>

                    </ul>
                </li>
                <li class="menu-item">
                    <a href="/static_information">More Information</a>
             </ul>
             <!-- Toggler -->
             <div class="aside-toggler aside-trigger"><span></span><span></span><span></span></div>
          </div>
       </nav>
    </header>

    <!-- Header End --><!-- Banner Start -->
      <div class="banner dark-overlay" style="background-image:url('static/picture/home_bkgd.jpg')">
         <div class="container">
            <div class="banner-item text-center">
               <div class="banner-inner">
                  <h1 class="title text-white">{{result}}</h1>
                  <a href="https://foodallergynew.azurewebsites.net/" class="btn-custom primary shadow-none">{{btn_txt}} <i class="fas fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
      </div>
      <div id="scrollpoint">
          <h1 class="content_bar">One scan away from making your shopping experience fast and easy</h1>
      </div>
      <div class="section section-padding ct-categories ct-categories-3">
           <div class="container">
              <div class="row">
                 <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="https://foodallergynew.azurewebsites.net/" class="ct-category">
                       <div class="ct-category-img"><img src="static/picture/barcode_bkgd.jpg" alt="category"><span>Scan Barcode</span></div>
                       <div class="ct-category-info">
                          <h5>Barcode Scanning</h5>
                          <p>Find out if your child's allergens exist in food products of your choice.</p>
                       </div>
                    </a>
                 </div>
                 <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="/Food_sub" class="ct-category">
                       <div class="ct-category-img"><img src="static/picture/substitute_bkgd.png" alt="category"><span>Allergen Substitutes</span></div>
                       <div class="ct-category-info">
                          <h5>Allergen Substitutes</h5>
                          <p>Find out ingredient substitutions for allergens and their benefits.</p>
                       </div>
                    </a>
                 </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="/Food_sub" class="ct-category">
                       <div class="ct-category-img"><img src="static/picture/education_children.png" alt="category"><span>Child Education</span></div>
                       <div class="ct-category-info">
                          <h5>Children Education</h5>
                          <p>Teach your child about food allergies with our educational cartoons here.</p>
                       </div>
                    </a>
                 </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <a href="/Food_sub" class="ct-category">
                       <div class="ct-category-img"><img src="static/picture/more_info.png" alt="category"><span>More Information</span></div>
                       <div class="ct-category-info">
                          <h5>More Information</h5>
                          <p>Find out more about Food Allergies and how to manage them.</p>
                       </div>
                    </a>
                 </div>
              </div>
           </div>
        </div>
      <!-- Instagram End --><!-- Footer Start   -->
      <footer>
         <div class="footer-bottom">
            <div class="container">
               <p class="m-0"> &copy; 2022 - Food Guards</p>
            </div>
         </div>
      </footer>
      <!-- Footer End --><!-- Vendor Scripts --><script src="static/js/jquery-3.4.1.min.js"></script><script src="static/js/popper.min.js"></script><script src="static/js/waypoint.js"></script><script src="static/js/bootstrap.min.js"></script><script src="static/js/jquery.magnific-popup.min.js"></script><script src="static/js/jquery.slimScroll.min.js"></script><script src="static/js/imagesloaded.min.js"></script><script src="static/js/jquery.steps.min.js"></script><script src="static/js/jquery.countdown.min.js"></script><script src="static/js/isotope.pkgd.min.js"></script><script src="static/js/slick.min.js"></script><!-- Cookiteer Scripts --><script src="static/js/main.js"></script>
   </body>
</html>
