<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Information - Food Guards</title>
      <!-- Vendor Stylesheets -->
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/animate.min.css">
      <link rel="stylesheet" href="static/css/magnific-popup.css">
      <link rel="stylesheet" href="static/css/slick.css">
      <link rel="stylesheet" href="static/css/slick-theme.css">
      <!-- Icon Fonts -->
      <link rel="stylesheet" href="static/css/flaticon.css">
      <link rel="stylesheet" href="static/css/all.min.css">
      <!-- Cookiteer Style sheet -->
      <link rel="stylesheet" href="static/css/style.css">
       <style>
            .accordion {
               background-color: #eee;
                 color: #444;
                 cursor: pointer;
                  padding: 18px;
                  width: 100%;
                  border: none;
                  text-align: left;
                  outline: none;
                  font-size: 15px;
                  transition: 0.4s;
            }

            .active, .accordion:hover {
              background-color: #ccc;
            }

            .panel {
              padding: 0 18px;
              display: none;
              background-color: white;
              overflow: hidden;
            }
</style>
      <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="76x76" href="static/favicon_package/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="static/favicon_package/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="static/favicon_package/favicon-16x16.png">
      <link rel="manifest" href="static/favicon_package/site.webmanifest">
      <link rel="mask-icon" href="static/favicon_package/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#00aba9">
      <meta name="theme-color" content="#ffffff">

   </head>
   <body>
      <!-- Preloader start -->
      <div class="ct-preloader">
         <div class="ct-preloader-inner">
            <div class="ct-preloader-pan">
               <div class="ct-preloader-pan-inner">
                  <div class="ct-preloader-pan-circle"></div>
                  <div class="ct-preloader-pan-handle"></div>
               </div>
               <div class="ct-preloader-pancake">
                  <div class="ct-preloader-pancake-inner"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- Preloader End --><!-- Aside (Mobile Navigation) -->
      <aside class="main-aside open">
           <a class="navbar-brand" href="/"><img src="static/picture/food_guards_logo.png" alt="logo"></a>
           <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 681.475px;">
              <div class="aside-scroll" style="overflow: hidden; width: auto; height: 681.475px;">
                 <ul>
                    <li class="menu-item">
                        <a href="/">Home Page</a>
                    <li class="menu-item">
                        <a href="https://foodallergynew.azurewebsites.net">Barcode Scanner</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a>Allergen Substitutes</a>
                        <ul class="submenu">
                            <li class="menu-item">
                                <a href="/wheat">Wheat</a>
                            </li>
                            <li class="menu-item">
                                <a href="/dairy">Dairy</a>
                            </li>
                            <li class="menu-item">
                                <a href="/peanut">Peanut</a>
                            </li>
                            <li class="menu-item">
                                <a href="/sesame">Sesame</a>
                            </li>
                            <li class="menu-item">
                                <a href="/egg">Egg</a>
                            </li>
                            <li class="menu-item">
                                <a href="/soy">Soy</a>
                            </li>
                            <li class="menu-item">
                                <a href="/shellfish">Shellfish</a>
                            </li>
                            <li class="menu-item">
                                <a href="/treenut">Treenut</a>
                            </li>
                        </ul>
                    </li>
                     <li class="menu-item">
                        <a href="/static_information">More Information</a>
                </ul>
              </div>
              <div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: -0.475px; opacity: 1; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 681.95px;"></div>
              <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
           </div>
        </aside>


    <div class="aside-overlay aside-trigger"></div>
       <!-- Header Start -->
    <header class="main-header header-1 can-sticky">
       <nav class="navbar">
          <div class="container">
             <!-- Logo --><a class="navbar-brand" href="/"><img src="static/picture/food_guards_logo.png" alt="logo"></a><!-- Menu -->
             <ul class="navbar-nav">
                <li class="menu-item">
                    <a href="/">Home Page</a>
                <li class="menu-item">
                    <a href="https://foodallergynew.azurewebsites.net">Barcode Scanner</a>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="/Food_sub">Allergen Substitutes</a>
                    <ul class="submenu">
                        <li class="menu-item">
                            <a href="/wheat">Wheat</a>
                        </li>
                        <li class="menu-item">
                            <a href="/dairy">Dairy</a>
                        </li>
                        <li class="menu-item">
                            <a href="/peanut">Peanut</a>
                        </li>
                        <li class="menu-item">
                            <a href="/sesame">Sesame</a>
                        </li>
                        <li class="menu-item">
                            <a href="/egg">Egg</a>
                        </li>
                        <li class="menu-item">
                            <a href="/soy">Soy</a>
                        </li>
                        <li class="menu-item">
                            <a href="/shellfish">Shellfish</a>
                        </li>
                        <li class="menu-item">
                            <a href="/treenut">Treenut</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                <a href="/static_information">More Information</a>
                </li>
             </ul>
             <!-- Toggler -->
             <div class="aside-toggler aside-trigger"><span></span><span></span><span></span></div>
          </div>
       </nav>
    </header>
    <!-- Header End --><!-- Heading -->
       <div style = "position:relative;left:8px;top:200px;">
           <div class="container">
               <div class="jumbotron">
                   <h1>Information on Food Allergy</h1>
                   <p>As parents, you only want what is best for your children, take a read below and learn more about Food Allergies and what you can do to manage them.
                   </p>
               </div>
               <h2><br>What is a Food Allergy?</h2>
               <p>Food Allergies is an abnormal response to specific kinds of foods caused by the <strong>immune system</strong>.</p>
               <h3>Most Common Food Allergens</h3>
               <p>In Children, the most common food allergens are <strong>peanuts,
        cow’s milk (dairy), wheat, pinenut, soy and eggs.</strong> However, not limited to just these, where the Australian FDA also includes,
        <strong>allergens such as shellfish, sesame and lupin.</strong></p>

               <h3>Food Allergies are different from food intolerances. </h3>
               <p>You might have heard of Food intolerances, such as Lactose intolerance,
        which means intolerant towards milk. The difference is that with food intolerance
        is how it occurs: this is where the body has a chemical reaction
        towards a specific food, compared to an immune response in food allergies.</p>

               <h2><br>Symptoms of Food Allergy</h2>

    <button class="accordion">Mild Allergy Symptoms</button>
        <div class="panel">
          <p>- Hives</p>
          <p>- Swelling of face and mouth</p>
          <p>- Vomiting</p>
          <p>- Abdominal discomfort or pain</p>
        </div>

    <button class="accordion">Severe Allergy Symptoms</button>
        <div class="panel">
          <p>- Wheeze or Trouble Breathing</p>
          <p>- Cough</p>
          <p>- Swelling of Tongue</p>
          <p>- Diarrhoea</p>
        </div>
          <p></p>
          <h2><br>Severe food allergy in children</h2>
          <p>For some children, they may experience respiratory difficulties, such as anaphylaxis.
              Most schools and childcare services across Australia are required to have an anaphylaxis
              management policy in place. However, it can be hard to control or manage food that your child
              may come across in school. Therefore, education of staff, students and parents are vital. </p>

    <h2><br></br>Treatment</h2>
          <p>The most efficient way is to <strong>avoid the foods</strong> that are causing the allergy reactions from the diet completely. </p>
          <p>There are <strong>2 main types of medication </strong> that can be used to relieve the symptoms of an allergic reaction to foods: </p>

            <button class="accordion">1. Antihistamines</button>
            <div class="panel">
              <p>Used to treat mild to moderate allergic reactions.</p>
              <p><strong><i>Warning: Some antihistamines can cause drowsiness. Please seek your general practitioner's advice, and avoid prescribing for children under the age of 2 years old.</i></strong></p>

            </div>

            <button class="accordion">2. Adrenaline</button>
            <div class="panel">
              <p>Used to treat severe allergic reactions (Anaphylaxis)</p>
            </div>

          <p></p>

            <h2> <br>Who should I speak to about managing my Children’s allergies?</h2>
            <p>The first place to seek advice would be from your <strong>general practitioner (GP Doctor), and registered Health Professionals.</strong></p>

            <h3>Allergy Support Groups</h3>
            <p>As parents, it can be difficult to manage . However, you are not alone, there are other parents that can be going through the same thing as you. There are support groups that can help you:</p>
            <a href="https://allergysupporthub.com.au/family-workshops/">1. Visit AllergySupportHub </a>
            <p></p>
            <a href="https://allergylife.com.au/pages/online-peer-allergy-support">2. AllergyLife </a>

          <p></p>
          <p></p>
            <p></p>
            <p></p>

            <h4><br>Content Disclaimer</h4>
            <p>Content on this website is provided for informational purposes only and should not be replaced as
                advice from a registered health professional. All users are recommended to contact and seek advice
                from a registered health professional or general practitioner (GP). All our information is from
                accredited organisations, specialised in food allergies in Australia, which the Australian Government
                refers to. </p>

            <p>Learn more about Food allergy and intolerance here:</p>
            <a href="https://www.betterhealth.vic.gov.au/health/conditionsandtreatments/food-allergy-and-intolerance">Betterhealth.vic.gov.au </a>

      </div>
       </div>

      <!-- Footer Start -->
       <footer>
         <div class="footer-bottom">
            <div class="container">
               <p class="m-0"> &copy; 2022 - Food Guards</p>
            </div>
         </div>
      </footer>

      <!-- Footer End --><!-- Vendor Scripts -->
      <script src="static/js/jquery-3.4.1.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/waypoint.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/jquery.magnific-popup.min.js"></script>
      <script src="static/js/jquery.slimScroll.min.js"></script>
      <script src="static/js/imagesloaded.min.js"></script>
      <script src="static/js/jquery.steps.min.js"></script>
      <script src="static/js/jquery.countdown.min.js"></script>
      <script src="static/js/isotope.pkgd.min.js"></script>
      <script src="static/js/slick.min.js"></script>

      <!-- Cookiteer Scripts -->
      <script src="static/js/main.js"></script>

      <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
         acc[i].addEventListener("click", function() {
         this.classList.toggle("active");
         var panel = this.nextElementSibling;
         if (panel.style.display === "block") {
              panel.style.display = "none";
         } else {
           panel.style.display = "block";
         }
        });
        }
       </script>

   </body>
</html>
